  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Master Kopp 2019</p>
    </div>
    <!-- /.container -->
  </footer>

{% block javascript %}
  <script src="asset/jquery/jquery.min.js"></script>
  <script src='asset/bootstrap/js/bootstrap.bundle.min.js'></script>
{% endblock %}
