
body {
  padding-top: 56px;
}
li {
  border-right: 1px solid #bbb;
}
li:hover{
  text-decoration: underline;
  font-weight:bold;
  color:white; 
}
li:last-child {
  border-right: none;
}
a, a:hover{
  color: white;
  text-decoration : none;
}